body  {
font-family: "Open Sans";
}
caption {
font-family: 'Lora', serif;
font-weight: bold;
font-size: 55px;
letter-spacing: 2px;
}

nav {
background-color: white;
}
hr {
margin: 0;
}
.table {
overflow: hidden;
z-index: 1;
}
td, th {
    cursor: pointer;
    padding: 10px;
    position: relative;
}
.secmenu ul li {
text-transform: uppercase;
}
.secmenu ul li a {
font-size:12px;
}
.menu ul li {
display:inline-block;
padding: 0px 30px;
height: 70px;
}
.search {
position: relative;
right: 30px;
}
.gdzh1 {
padding-top: 30px;
padding-bottom: 20px;
}
.secmenu {
line-height: 70px;
text-align: center;
}
.secmenu ul {
margin-bottom: 0;
padding-left: 0;
}
input {
width: 350px;
margin-left: 30px;
padding-left: 15px;
}
.bookmark {
margin-left: 25px;
color: #f89548;
border-bottom-style: dashed;
border-bottom-width: 1px;
}
.bookmark:hover {
text-decoration: none;
}
.bookmark a:hover {
color: #f59141;
}
.hr1 {
background: #d85247;
height: 6px;
width: 100%;
}
.under {
height: 1px;
color: #efefef;
}
.dropdown {
padding-top: 10px;
}
th {
color: #309fd4;
text-align: center;
padding-bottom:20px;
}

td {
width: 70px;
height: 50px;
border-bottom-style: solid;
border-width: 1px;
border-color: #efefef;
text-align: center;
}
.table .subject {
width: 180px;
margin-right: 10px;
border: none;
line-height: 30px;
}

.gdzh1 {
text-align:center;
}
tr:hover td {
background-color: #f1ffe5;
}

tr:hover .subject {
background-color: #fffcee;
}
th.class {
background-color: white;
}
th a:hover {
background-color: white;
}
.subject {
background-color: #fffcee;
text-align: center;
}
.subject a {
color: black;
font-weight: bold;
}
td:hover::after { 
    background-color: #f1ffe5;
    content: '\00a0';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    width: 100%;
    z-index: -1;        
}
.table td:hover {
background-color: #e4ffce;
}
.table .subject:hover {
background-color: #fffcee;
}
.table .class:hover {
background-color: white;
}
.icon {
    height: 28px;
    width: 32px;
    position: relative;
    overflow: hidden;
    left: 14px;
}
.checkone {
width: 20px;
    height: 4px;
    background: #86c84a;
    margin: 13px 0 0 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkone:after {
    content: '';
    width: 11px;
    height: 4px;
    background: #86c84a;
    position: absolute;
    top: -4px;
    left: -4px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.games {
margin-top: 50px;
}
.games a {
}
.icons-second {
position: relative;
height: 75px;
bottom: 150px;
left: 90px;
}
.twitter-a {
position: absolute;
z-index: 100;
top: 35px;
left: 70px;
}
.fa-twitter {
background-color: #2daae1;
width: 40px;
height: 40px;
border-radius: 50%;
text-align: center;
font-size: 20px;
line-height: 40px;
color: white;
margin-bottom: 10px;
position: absolute;
z-index: 125;

}
.facebook-a {
position: absolute;
z-index: 150;
bottom: 0px;
left: 30px;
}
.fa-facebook {
background-color: #3c5b9b;
width: 50px;
height: 50px;
border-radius: 50%;
text-align: center;
font-size: 25px;
line-height: 50px;
color: white;
}
.vk-a {
position: absolute;
z-index: 125;
bottom: 0px;
left: 0px;
}
.fa-vk {
background-color: #0173b2;
width: 40px;
height: 40px;
border-radius: 50%;
text-align: center;
font-size: 20px;
line-height: 40px;
color: white;
}
.youtube-a {
position: absolute;
z-index: 100;
bottom: 32px;
left: 22px;
}
.fa-youtube {
background-color: #fe3432;
width: 20px;
height: 20px;
border-radius: 50%;
text-align: center;
font-size: 10px;
line-height: 20px;
color: white;
}
.pinterest-a {
position: absolute;
z-index: 100;
bottom: 31px;
left: 65px;
}
.fa-pinterest-p {
background-color: #ca1e25;
width: 20px;
height: 20px;
border-radius: 50%;
text-align: center;
font-size: 10px;
line-height: 20px;
color: white;
}

ul.dropdown li { position: relative; 
z-index: 1000
}
ul.dropdown,
ul.dropdown-inside {
list-style-type: none;
padding: 0;
}
ul.dropdown-inside {
position: absolute;
left: -9999px;
}
ul.dropdown li.dropdown-top {
display: inline;
float: left;
margin: 0 1px 0 0;
}
ul.dropdown li.dropdown-top a {
display: block; 
}
ul.dropdown li.dropdown-top a:hover {
background-color: white;
text-decoration: none;
}
ul.dropdown .dropdown-inside li a:hover {
background-color: #e4e4e4;
}

.dropdown-top a:hover {
background-color: white;
}
ul.dropdown li.dropdown-top:hover .dropdown-inside {
display: block;
left: 0;
}
ul.dropdown .dropdown-inside { 
background-color: #e4e4e4;
padding-left: 10px;
padding-right: 10px;
}
ul.dropdown .dropdown-inside a:hover { 
background: #efefef; 
}
a.dropdown-top {
width: 105px;
}
.dropdown-inside li a {
width: 105px;
}